USE [master];
GO

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'UnwetterDB')
    BEGIN
        CREATE DATABASE [UnwetterDB];
        WAITFOR DELAY '00:00:05';
    END
-- GO99**
USE [UnwetterDB];
GO

-- Таблицы
IF OBJECT_ID('dbo.Benutzer', 'U') IS NULL
    BEGIN
        CREATE TABLE [dbo].[Benutzer](
                                         [id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
                                         [benutzername] VARCHAR(50) NOT NULL,
                                         [passwort] VARCHAR(255) NOT NULL,
                                         [rolle] VARCHAR(20) NOT NULL CHECK ([rolle] IN ('Admin', 'ReadWriter', 'Reader'))
        );
    END
GO

IF OBJECT_ID('dbo.Ort', 'U') IS NULL
    BEGIN
        CREATE TABLE [dbo].[Ort](
                                    [id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
                                    [name] NVARCHAR(100) NOT NULL UNIQUE
        );
    END
GO

IF OBJECT_ID('dbo.Unwetterart', 'U') IS NULL
    BEGIN
        CREATE TABLE [dbo].[Unwetterart](
                                            [id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
                                            [bezeichnung] NVARCHAR(100) NOT NULL UNIQUE
        );
    END
GO

IF OBJECT_ID('dbo.Unwetter', 'U') IS NULL
    BEGIN
        CREATE TABLE [dbo].[Unwetter](
                                         [id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
                                         [unwetterart_id] INT NOT NULL,
                                         [datum] DATE NOT NULL,
                                         [ort_id] INT NOT NULL,
                                         [schadenhoehe] DECIMAL(10,2) NOT NULL,
                                         [bemerkung] NVARCHAR(255),
                                         FOREIGN KEY ([ort_id]) REFERENCES [dbo].[Ort]([id]),
                                         FOREIGN KEY ([unwetterart_id]) REFERENCES [dbo].[Unwetterart]([id])
        );
    END
GO

-- Данные
INSERT INTO [dbo].[Benutzer] (benutzername, passwort, rolle) VALUES
                                                                 ('admin', 'adminpass', 'Admin'),
                                                                 ('editor', 'editpass', 'ReadWriter'),
                                                                 ('viewer', 'viewpass', 'Reader');
GO

INSERT INTO [dbo].[Ort] (name) VALUES
                                   (N'Berlin'), (N'Hamburg'), (N'München'), (N'Köln');
GO

INSERT INTO [dbo].[Unwetterart] (bezeichnung) VALUES
                                                  (N'Hagel'), (N'Sturm'), (N'Regen');
GO

